p {
    font-size: 20px;
    font-family: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;
}

.clearfix {
    text-align: center;
    margin-bottom: 100px;
}

.container .left {
    float: left;
    width: 50%;
}

.container .right {
    float: right;
    width: 50%;
}

.container p {
    margin-right: 40px;
    margin-left: 40px;
}

.container .row img {
    width: 90%;
    margin: 5%;
}

.link {
    text-align: center;
    width: 200px;
    border-radius: 20px;
    display: block;
    background-color: #00d4ff;
    color: white;
    margin-left: 40px;
    font-size: 20px;
    padding: 5px;
}

.row {
    margin-bottom: 30px;
}

.row ul {
    padding-left: 0px;
    margin-left: 80px;
    margin-right: 40px
}

.row h1 {
    color: #293484;
    text-align: center;
}

.shrink {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}



.css-slideshow{
  position: relative;
  max-width: 100%;
  height: 370px;
  margin: 5em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 100%;
  height: 370px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
  width: 100%;
  height: 300px;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 100%;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}


figure:nth-child(1) {
  animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
  animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
  animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
  animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
  animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
  animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
  animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
  animation: xfade 48s 0s infinite;
}


@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}