{% extends "radpress/base.html" %}

{% load radpress_static_url from radpress_tags %}

{% block head-css %}
{{ block.super }}
  <link href="{% radpress_static_url 'css/museums.css' %}" media="all" type="text/css" rel="stylesheet" />
{% endblock %}


{% block main %}
<div class="top">
    <img src="{{ MEDIA_URL }}radpress/entry_images/airport.jpg">
</div>

<div class="container">
    <h1> Airports </h1>
    <p>
    One of the biggest changes at airports is the new retail 
    environment that has been created. With a mix of restaurants and shops, many 
    airports have become a destination themselves, and not just somewhere to travel.
    </p>
    <div class="row">
        <div class="left">
            <img src="{{ MEDIA_URL }}radpress/entry_images/af1.JPG">
        </div>
        <div class="right">
            <h1>Maximise the value of your real estate</h1>

            <p>
            Data from Abacus reveals just how many people visit  an
            airport without accessing flight services. This, together with  identifying 
            areas of high footfall, allows airports to set rents that accurately 
            reflect the value of the retail space available. You can also look at the 
            investments you make in additional retail space and measure the corresponding 
            footfall to these spaces, - giving you objective ROI figures.</p>
        </div>
    </div>



    <h1>Get a consistent measure of passenger flows</h1>

    <p>Delivering real-time information on passenger numbers and 
    ovement throughout the airport, our people counting systems can give you 
    detailed insight for planning staff deployment and scheduling, identifying and 
    predicting passenger congestion, and where to place essential services such as 
    passenger information and sales booths. </p>

    <h1>Assign staff deployment to demand</h1>

    <p>
    By measuring the usage of various facilities throughout the station, - like 
    information points, ticket sales and washrooms, you can make sure that staff 
    schedules accurately reflect the demand by passengers. By reducing the time your
     staff spend where they aren’t required and re-deploying them where they are, 
     you can make cost savings and create a better experience for passengers and 
     other visitors.</p>

</div>

{% endblock %}