{% extends "radpress/base.html" %}

{% load radpress_static_url from radpress_tags %}

{% block head-css %}
{{ block.super }}
  <link href="{% radpress_static_url 'css/museums.css' %}" media="all" type="text/css" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="container">
<h1> Museums & Art Galleries </h1>

<h2> Museums </h2>
<p> 	
	Abacus is exceptionally helpful in places such as museums for numerous reasons. 
	With Abacus you can accurately monitor the busiest days of the week, most popular exhibitions,
	busiest time of day, busiests months and so on. The possiblities are endless but the benefits
	even more so, you will be able to carefully view the most popular and unpopular exhibitions within your 
	museum. You will be able to accurately monitor the ratio of people inside the museum to people viewing
	certain exhibitions and so on, not only is this the next frontier in people coutinng systems but is
	also incredbily cost efficient in the long run. 
</p>	

<div class = "right">
<img src="{{ MEDIA_URL }}radpress/entry_images/noun_78475_cc.png">
</div>

<h2> Art Galleries </h2> 
<p> 
	With Abacus you can monitor the most popular pieces of art, popular times, days, months. Everything. 
	Abacus will allow you to accurately monitor the number of customers within your facility, taking in
	counts from as many cameras as you want to give you a more in depth idea of your customers needs. 
	In the past with the art galleries we've been working with, they would very often attempt to find out
	their busiest days and hours and employ more staff during those times to help accomodate, along with
	securing pieces of art which were more popular than others and not to mention as a security system, 
	you will have potentially millions of pounds in your art gallery, you want to ensure they're safe and
	secure, if so Abacus is the system for you. 
</p>

</div>
{% endblock %}