{% extends "radpress/base.html" %}

{% load radpress_static_url from radpress_tags %}

{% block head-css %}
{{ block.super }}
  <link href="{% radpress_static_url 'css/museums.css' %}" media="all" type="text/css" rel="stylesheet" />
{% endblock %}

{% block main %}

<div class="top">
    <img src="{{ MEDIA_URL }}radpress/entry_images/kg.png">
</div>


<div class="container">
	<h1> Museums & Art Galleries </h1>
	<div class="left">
        <img src="{{ MEDIA_URL }}radpress/entry_images/riverside.jpg">
    </div>
    <div class="right">
    	<p> Running an attraction is a large and complex operation, one which 
    		requires efficient, informed management to ensure precious funding 
    		is spent appropriately. The Flonomics people counting system enables you to:
    	</p>
    	<ul>
    		<li><p>plan your exhibit layouts</p></li>
    		<li><p>optimize your staffing levels</p></li>
    		<li><p>address queue management, and</p></li>
    		<li><p>create promotions unique to your visitor base.</p></li>
    	</ul>
		<p>It will also enable you to identify funding needs more accurately based on visitorship, seasonal peaks, staffing requirements and reports for popular exhibits.</p>
    </div>
</div>
{% endblock %}