{% extends "radpress/base.html" %}

{% load radpress_static_url from radpress_tags %}

{% block head-css %}
{{ block.super }}
  <link href="{% radpress_static_url 'css/reports.css' %}" media="all" type="text/css" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="top">
	<img src="{{ MEDIA_URL }}radpress/entry_images/analytics.png">
</div>
<div class="breakline"></div>


<div class="container">
	<div class="intro">
		<h1>Reports </h1>

		<p> 
			The main purpose of the reporting feature is to display accurate,
			historical counting data in a format that is easily read by the user.
		</p>
	</div>


	<div class="row">
        <div class="left">
            <img src="{{ MEDIA_URL }}radpress/entry_images/Linearsearch.png">               
        </div>
        <div class="right">
			<h2>Search</h2>
			<p>
				Abacus uses advanced, searching algorithms to search for the data 
				you need from the database. It delivers the data quickly and efficiently.
			</p>
        </div>
    </div>


	<div class="row">
        <div class="left">
			<h2>Customize</h2>
			<p>
				Use a variety of filters to deliver bespoke, custom data from a plethora
				of sources. Use this to fetch data from different sites, and compare statistics
				based on different parameters.
			</p>
        </div>
        <div class="right">
            <img src="{{ MEDIA_URL }}radpress/entry_images/customize.jpg">               
        </div>
    </div>



	<div class="row">
        <div class="left">
            <img src="{{ MEDIA_URL }}radpress/entry_images/timerange.jpg">               
        </div>
        <div class="right">
			<h2>Time Range</h2>
			<p>
				Abacus can further filter data based on the time you want to see data from.
				Fetch data on hourly, daily, weekly, monthly or even yearly figures.
			</p>
			<p>
				Dynamic time ranges can be created to further enhance the comparison of your data.
				Compare statistics from the previous week or month, and create predictions
				for the future.
			</p>
        </div>
    </div>

	<div class="row">
        <div class="left">
			<h2>Event Types</h2> 
			<p>
				Search by a variety of event rules, or types. Find figures such as in/out count,
				loiter time, object size, speed, enter/exit count, object appearances/disappearances
				etc.
			</p>
        </div>
        <div class="right">
            <img src="{{ MEDIA_URL }}radpress/entry_images/vca.jpg">               
        </div>
    </div>

		

	<div class="row">
        <div class="left">
            <img src="{{ MEDIA_URL }}radpress/entry_images/charts.png">               
        </div>
        <div class="right">
			<h2>Chart Types</h2>
			<p>
				Display the data in a format you deem appropriate. Line and spline graphs
				can be used to compare multiple statistical series. Area charts can be used to 
				show trends over time. Bar graphs can be used to compare different groups
				of data. Pie charts can be used to compare precentage data. And matrices 
				are used to show raw data in a table format.
			</p>
        </div>
    </div>


	<div class="row">
        <div class="left">
			<h2>Programmable Views</h2>
			<p>
				Program your own filters to lay on top of the reports. Have your own set of custom reports
				ready for your viewing every time you log in.
			</p>
        </div>
        <div class="right">
            <img src="{{ MEDIA_URL }}radpress/entry_images/program.jpg">               
        </div>
    </div>

		
		

	<div class="row">
        <div class="left">
            <img src="{{ MEDIA_URL }}radpress/entry_images/export.png">               
        </div>
        <div class="right">
			<h2>Export</h2>
			<p>
				Export the report data in a variety of formats. When a report is created,
				you can send it to other users, email it, print it, create a PDF, or create a CSV
				file for use within Excel.
			</p>
        </div>
    </div>



    <div id="page-wrap">

		<section class="image-gallery group">

			<figure tabindex="1">
				<img src="{{ MEDIA_URL }}radpress/entry_images/camera.svg">
				<figcaption>Jump!</figcaption>
			</figure>

			<figure tabindex="2">
				<img src="{{ MEDIA_URL }}radpress/entry_images/camera.svg">
				<figcaption>Woah there!</figcaption>
			</figure>

			<figure tabindex="3">
				<img src="{{ MEDIA_URL }}radpress/entry_images/camera.svg">
				<figcaption>Crossed Axes</figcaption>
			</figure>

			<figure tabindex="4">
				<img src="{{ MEDIA_URL }}radpress/entry_images/camera.svg">
				<figcaption>Brothers in Arms</figcaption>
			</figure>

		</section>

	</div>
    
</div>


{% endblock %}